<div class="page-search">
  <div class="margin15">
    <h1>Kurser</h1>

    <!-- Filtreringssektion -->
    <div class="filters">
      <!-- Textfiltrering -->
      <div class="filter">
          <label for="filter">Filtrera kurser:</label>
          <input type="text" id="filter" [(ngModel)]="filterValue" (input)="applyFilter()">
      </div>

      <!-- Ämnesfiltrering -->
      <div class="filter">
          <label for="subject">Välj ämne:</label>
          <select id="subject" [(ngModel)]="subjectFilter" (change)="applyFilter()">
              <option value="">Alla ämnen</option>
              <option *ngFor="let subject of subjects" [value]="subject">{{ subject }}</option>
          </select>
      </div>
    </div>

    <!-- Antal kurser -->
    <div class="course-count">
      <p>Antal kurser: <strong>{{ courseCount }}</strong></p>
    </div>

    <!-- Kurstabell -->
    <div class="table-container">
      <table>
        <thead>
          <!-- Tabellhuvud med klickbara rubriker för sortering -->
          <tr>
            <th (click)="sortData('courseCode')">Kurskod <span *ngIf="sortColumn === 'courseCode'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span></th>
            <th (click)="sortData('courseName')">Kursnamn <span *ngIf="sortColumn === 'courseName'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span></th>
            <th (click)="sortData('points')">Poäng <span *ngIf="sortColumn === 'points'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span></th>
            <th (click)="sortData('subject')">Ämne <span *ngIf="sortColumn === 'subject'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span></th>
            <th>Kursplan</th>
            <th>Lägg till</th>
          </tr>
        </thead>
        <tbody>
          <!-- Iterera över filtrerade kurser och visa dem i tabell i realtid -->
          <tr *ngFor="let course of filteredCourseList | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
            <td data-cell="kurskod">{{ course.courseCode }}</td>
            <td data-cell="kursnamn">{{ course.courseName }}</td>
            <td data-cell="poäng">{{ course.points }}p</td>
            <td data-cell="ämne">{{ course.subject }}</td>
            <td data-cell="kursplan"><a href="{{ course.syllabus }}" target="_blank" aria-label="Kursplan"><i class="fas fa-file-alt"></i></a></td>
            <td data-cell="lägg till" class="button-cell">
              <div class="add-button-container">
                <!-- Knapp för att lägga till kurs till ramschemat -->
                <button class="add-button" aria-label="Lägg till kurs" (click)="addToSchedule(course)">
                  <i class="fas fa-plus"></i>
                </button>
                <!-- Klickbar text för att lägga till kurs till ramschemat / Visas vid max-width 590px -->
                <span class="add-text" (click)="addToSchedule(course)">Lägg till</span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Paginering -->
    <div class="pagination">
      <pagination-controls (pageChange)="p = $event" previousLabel="Föregående" nextLabel="Nästa"></pagination-controls>
    </div>

    <!-- Notifiering som visas när kurs läggs till -->
    <div *ngIf="showAdded" class="notification">
      <i class="fas fa-check"></i> {{ showAddedMessage }}
    </div>
  </div>
</div>